<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSPvEth</title>
</head>
<body>
    <main>
        <header>
            <ul>
                <li><a active href="/">Home Page</a></li>
                <li><a href="/ml/stream/">ML Stream Page</a></li>
            </ul>
        </header>
        <h1>SSPvEth - Streaming Service Provider via Ethernet.</h1>
        <h2>Platform made for Machine Learning project about edge devices in space.</h2>
        <h3>For more, see - </h3>
        <a href="/ml/stream/">ML - Stream</a>
    </main>
</body>
</html>