<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML - Stream</title>
</head>
<body>
    <main>
        <header>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a active href="/ml/stream/">ML Stream Page</a></li>
            </ul>
        </header>
        <h1>Machine Learning Project for Edge Devices in Space.</h1>
        <h2>Platform Recives AI filtered data trough Ethernet signal and generates stream below.</h2>

        <!-- Streaming file at /video endpoint -->
        <video id="videoPlayer" width="50%" controls muted="muted" autoplay>
            <source src="/video" type="video/mp4" />
        </video>
    </main>
</body>
</html>