<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1"> <!-- Odśwież co 1 sekundę -->
    <title>ML - Stream</title>
</head>
<body>
    <main>
        <header>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a active href="/ml/stream/">ML Stream Page</a></li>
                <li><a href="/data/videos/">Videos</a></li>
            </ul>
        </header>
        <h1>Machine Learning Project for Edge Devices in Space.</h1>
        <h2>Platform Recives AI filtered data trough Ethernet signal and generates image stream below.</h2>

        <!-- Streaming file at /video endpoint -->
        <image width="500" height="500" src="/ml/com_port" />
    </main>
</body>
</html>