<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <title>ML - Stream</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <header>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a active href="/ml/stream/">ML Stream Page</a></li>
                <li><a href="/data/videos/">Videos</a></li>
            </ul>
        </header>

        <section class="hero">
            <h1>Machine Learning Project for <span>Edge Devices in Space.<span></h1>
            <h2>Platform Recives <span>AI filtered data trough Ethernet signal</span> and generates image stream below.</h2>
            
            <!-- Streaming file at /video endpoint -->
            <img width="500" height="500" id="ml_stream" src="/ml/com_port" />
            
        </section>
    </main>
</body>
</html>